.offcanvas.offcanvas-top {
    left:initial!important;
    right:0px!important;
    top:9%!important;
}
.offcanvas-backdrop {
    background-color: #00000000 !important;
}


--bs-dark-rgb {
    background-color: #161616 !important;
}